body {
	font-family: "Arial";
}

#error-message {
	border-radius: 10px;
	border: 2px solid #ff0080;
	padding: 20px;
	margin: auto;
	width: 500px;
}

#app-info {
	color: #ff0080;
}

#error-message-header {
	text-align: center;
	font-size: 2em;
	margin: 50px;
}

#error-message-body {
	text-align: justify;
}

#error-message-advice
{
	font-size: 1.2em;
}